html,
body {
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
}

p {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
}

.sidebar {
  flex-grow: 0.0001;
  width: 100px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #36312E;
  transition: all 1200ms ease-in-out;
  background-color: rgb(246,225,211);
}

.button {
  border: none;
  padding: 8px 12px;
  font-size: 24px;
  font-family: "Lato Light";
  margin: 0 0 12px 0;
  cursor: pointer;
}

.button a {
  color: #36312E;
}

.sidebar .text {
  opacity: 0;
  height: 0;
  overflow: hidden;
  color: #36312E;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% { opacity: 1 }
}

.resume {
  animation-delay: 800ms;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
  opacity: 1;
}

.resume:hover {
  background: white;
}

.sidebar.open .resume {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar.open .text {
  animation-delay: 400ms;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
  opacity: 1;
  height: auto;     
  font-size: 48px;
  font-family: "Oswald";
  margin-bottom: 24px;
}

.sidebar.open {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 41vw;
}

.sidebar__logo {
  height: 80px;
  position: absolute;
  top: 20%;
  pointer-events: none;
  filter: invert(1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin:  24px 0 0 0 ;
  height: 100px;
  background: #36312E;
  color: #FFF9F5;
}

.header-items {
  list-style-type: none;
  height:  100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-right: 24px;
}

.header__item {
  font-size: 18px;
  font-family: "Lato";
  font-weight: bold;
  padding: 12px 12px;
  cursor: pointer;
}

.header__item:hover {
  color: rgb(246,225,211);
}

.active {
  color: rgb(246,225,211);
}

.header__logo {
  height: 100px;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: #FFF9F5;
  height: 100vh;
  color: #36312E;
  overflow-y: scroll;
}

.social-container {
  padding: 0 50px;
}

a.social {
  margin: 8px 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #d6249f;
}

a.linkedin {
  color: #0e76a8;
}

a.github {
  color: #171515;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 48px; 
}

.section-container h1 {
  font-family: Lato;
  font-size: 36px;
}

.section-container p {
  font-size: 20px;
}

.section-container a {
  color: rgb(255 102 0);
}

.about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-description {
  max-width: 40vw;
  text-align:  justify;
}

.profile-image {
  height: 300px;
  width: 240px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-container {
  display: flex;
  align-items: stretch;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  height: 150px;
  width: 100%;
  overflow: hidden;
  margin: 8px 0;
  color: #36312E !important;
}

.project-heading {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  background: rgb(246,225,211);
  padding: 16px 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-description {
  margin: 0 0 0 24px;
  padding: 16px;
  flex: 4;
  align-self: center;
}

.p-twitter {
  background-image: url("./assets/images/twitter.jpg");
  background-position: initial;
  background-size: cover;
}

.p-weather {
  background-image: url("./assets/images/weather.jpg");
  background-position: center;
  background-size: cover; 
}

.p-phone {
  background-image: url("./assets/images/phone.webp");
  background-position: center;
  background-size: cover; 
}
